<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

    <display-name>${project.artifactId} ${project.version}</display-name>

    <servlet>
        <servlet-name>Wms</servlet-name>
        <servlet-class>com.github.davidmoten.grumpy.wms.app.WmsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Wms</servlet-name>
        <url-pattern>/wms</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Map</servlet-name>
        <jsp-file>/map.jsp</jsp-file>
    </servlet>

<servlet-mapping>
        <servlet-name>Map</servlet-name>
        <url-pattern>/map</url-pattern>
    </servlet-mapping>

</web-app>
